/*** CSS global**/
*{
    font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}
h1{width: 180px;}

/** CSS encabezado**/

header{
    display:flex;
    margin-top: 20px;

}

.menuLateral{
    position:absolute; 

}

.generos{
display: flex;
font-size: 12px; 
font-weight: bold;
}

.mujer{
    margin-left: 5px; 
    
}
.hombre{
    margin-left: 10px;
    color:gray;
}

.bold{
    font-weight: bold;
}
.rojo{
    color:red; 
}

.gris{
    color:gray;
}

.opcion{
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 15px;
}
.title{
    margin-left: 400px;
    width:500px; 
}

.secciones{
    display:flex;
    font-size: 11px;
    margin-left: -50px;
}

.seccion{
    margin-left: 2px;
    margin-right: 1px;
}

.Buscador{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    
}

.iconitos{
    display:flex; 
    margin-top: 2px;
    margin-left:2px; 
}
.ico{
    height:10px;
    width:10px;
}


.personita{
    margin-right: 5px;
    margin-left: 90px;
}

.candadito{
    margin-left: 10px;
}

.Buscar{
    font-size: 10px;
    margin-top: 1px;
    margin-left: 8px;
}

.linea{
    width:130px;
    height:1px;
    background-color: black;
    margin-left:2px;
    margin-top: -7px;
}

.minimenu{
    margin-left: -60px;
    margin-top: 15px;
}


.orden{
    display:flex;
    font-size: 9px;
    width:150px; 

}

.orden li a{
    text-decoration: none;
    margin-right:2px; 
    margin-left: 2px;
    font-size: 8px;
    color:rgb(77, 76, 76)
}

.cuatro{
    color:rgb(200, 196, 196);
    font-weight: bold;
}

/** Parte central: fotos del producto*/

main{
    display:flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: 10px;
}
.foto{
    width:216px; 
}
.fotoPrenda{
    height:243px; 
    width:200px; 
    margin: 5px;
    padding:5px; 
}

.fotoPrenda p{
    font-size: 9px;
    margin-left:60px;
}

.foto{
    margin-bottom: 0;
}

.prenda{
    margin-bottom: 1px;
}

.precio{
    margin-top: 3px;
 }

 .fondoFoto{
    background-color: bisque;
 }

 /** footer:Decuento y columna de links*/

 footer{
    display:flex;
    flex-direction: column;
    align-items: center;
 }

 .descuento{
    margin-top: 120px;
    border-top-width: 50px;    
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f3e6e6;
 }

 .descuento h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom:1px; 
    margin-left: 70px;
 }

 .descuento h3{
    font-size: 27px;
    font-weight: lighter;
    margin-top: 8px;
 }

 .descuento form{
    margin-top:50px; 
    display: flex;
    flex-direction: column;
 }

 .lbemail{
    margin-left: 160px;
    font-weight: bold;
    font-size: 10px;
 }

 input{
    width: 290px;
    margin-left: 70px;
    border-top:0px ;
    border-left: 0px;
    border-right: 0px;
 }
 .contactos h4{
    margin-left: 175px;
    font-size: 12px;
    margin-bottom: 1px;
 }
 .listacontacto{
    display: flex;
    align-items: center;
    margin-left: 26px;
    margin-top: 0px;
 }

 .listacontacto li{
    margin-left: 3px;
    margin-right: 2px;
    font-size: 12px;
 }

 .disponibilidad{
    font-size: 10px;
    margin-left: 130px;
    margin-top:5px; 
 }

 .columnasLinks{
    display:flex;
    flex-direction: row;
 }