/*** CSS global**/
*{
    font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}
h1{width: 180px;}

/** CSS encabezado**/

header{
    display:flex;
    margin-top: 20px;

}

.menuLateral{
    position:absolute; 

}

.generos{
display: flex;
font-size: 12px; 
font-weight: bold;
}

.mujer{
    margin-left: 5px; 
    
}
.hombre{
    margin-left: 10px;
    color:gray;
}

.bold{
    font-weight: bold;
}
.rojo{
    color:red; 
}

.gris{
    color:gray;
}

.opcion{
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 15px;
}
.title{
    margin-left: 400px;
    width:500px; 
}

.secciones{
    display:flex;
    font-size: 11px;
    margin-left: -50px;
}

.seccion{
    margin-left: 2px;
    margin-right: 1px;
}

.Buscador{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    
}

.iconitos{
    display:flex; 
    margin-top: 2px;
    margin-left:2px; 
}
.ico{
    height:10px;
    width:10px;
}


.personita{
    margin-right: 5px;
    margin-left: 90px;
}

.candadito{
    margin-left: 10px;
}

.Buscar{
    font-size: 10px;
    margin-top: 1px;
    margin-left: 8px;
}

.linea{
    width:130px;
    height:1px;
    background-color: black;
    margin-left:2px;
    margin-top: -7px;
}

.minimenu{
    margin-left: -60px;
    margin-top: 15px;
}


.orden{
    display:flex;
    font-size: 9px;
    width:150px; 

}

.orden li a{
    text-decoration: none;
    margin-right:2px; 
    margin-left: 2px;
    font-size: 8px;
    color:rgb(77, 76, 76)
}

.cuatro{
    color:rgb(200, 196, 196);
    font-weight: bold;
}
